# Basics

- variables
- operators
- datatypes
- input/output

In [37]:

x=4
a=112

b=2332
c=a+b

In [38]:
area=a*b

In [39]:
p=23
r=44
t=1
si=(p*r*t)/100

In [40]:
si

10.12

In [41]:
del x

## operators
- assignment
- arithematic
- logical
- comparison
- membership
- identity

In [42]:
# assignment
x=2

x+=6
x-=4
x*=5
x

20

In [43]:
# arithematic
a+b

2444

In [44]:
a-b

-2220

In [45]:
a/b

0.048027444253859346

In [46]:
print(a+b)
print(a*2)

2444
224

In [47]:
print(a//b)
print(a%b)
print(a**2)

0
112
12544

In [48]:
#comparison
print(a>b)
print(a>b)
print(x>=11)
print(a<=166)
print(x!=2344)

False
False
True
True
True

In [49]:
#logical
print(x>3476 and a>73467)
print(x<73647 and a<2738)

False
True

In [50]:
#membership
a=[4,45,6565,4545,6466]
print(13 in a)
print(6356 not in a)

False
True

In [51]:
# identity
a=[5,52,4,11,34,345]
b=a
c=[4,8,9,8]
print(a is b)
print(a is c)
print(b is c)

True
False
False

In [52]:
# datatype

name="esha"
pi=3.14
happy= True
data=None
a_list=[23,3,2,4,56]
a_tuple=(3,56,33)
a_set={23,433,11}
a_dict={'a':56, 'b':5665}

In [54]:
print(type(name))
print(type(happy))
print(type(a_list))

<class 'str'>
<class 'bool'>
<class 'list'>

### displaying output and getting input

In [2]:
print("hello","esha", sep="&")

hello&esha

In [5]:
print("hi sachin")
print("helloo","64376","45746",sep="###")
print("c:","user","esha","desktop",sep="/")

hi sachin
helloo###64376###45746
c:/user/esha/desktop

In [6]:
fruits=["apple","mango","cherry"]
print(fruits)
print(*fruits)

['apple', 'mango', 'cherry']
apple mango cherry

# displaying content with variable

In [9]:
a,b=10,20
c=a+b
print("result =>", a,"+",b,"=",c)
print(f'result => {a} + {b} = {c}') # f-string

result => 10 + 20 = 30
result => 10 + 20 = 30

In [10]:
input()

'56'

In [11]:
int(input())

36456354

In [13]:
a=(input("enter"))

In [14]:
name=input("who are u") 
print(name)

esha

In [16]:
p=int(input("enter"))
r=int(input("enter"))
t=int(input("enter"))
si=p*r*t/100
print("simple interest calculation")
print(f'principal=>{p}')
print(f'rate of interest=>{r}')
print(f'time=>{t}')
print("--------------------------")
print(f'simple interest=>{si}')

simple interest calculation
principal=>4675674
rate of interest=>34
time=>32
--------------------------
simple interest=>50871333.12

### alignment amd formatting

In [18]:
word="journey"
print(word)
print(f"{word}")
print(f"{word:100}")
print(f"{word:>100}")
print(f"{word:^100}")

journey
journey
journey
                                                                                             journey
                                              journey

In [19]:
num=19999
print(f"{num:>100}")
print(f"{num:^100}")
print(f"{num:100.3f}")
print(f"{num:.3f}")

                                                                                               19999
                                               19999
                                                                                           19999.000
19999.000

In [22]:
print("simple interest calculation")
print("--------------------------")
print(f'principal {p:20}')
print(f'rate of interest  {r:10}')
print(f'time  {t:25}')
print("--------------------------")
print(f'simple interest=>{si}')

simple interest calculation
--------------------------
principal              4675674
rate of interest          34
time                         32
--------------------------
simple interest=>50871333.12

In [31]:
s=int(input("enter"))
print(f"enter the value {s}")
print("---"*10)
volume=(4*3.14*s*s)/3
print("volume calculation")
print(f'radius {s:4}')
print(f"volume of sphere => {volume}")

enter the value 45
------------------------------
volume calculation
radius   45
volume of sphere => 8478.000000000002