# Basics

- variables
- operators
- datatypes
- input/output

In [37]:

x=4
a=112

b=2332
c=a+b

In [38]:
area=a*b

In [39]:
p=23
r=44
t=1
si=(p*r*t)/100

In [40]:
si

10.12

In [41]:
del x

## operators
- assignment
- arithematic
- logical
- comparison
- membership
- identity

In [42]:
# assignment
x=2

x+=6
x-=4
x*=5
x

20

In [43]:
# arithematic
a+b

2444

In [44]:
a-b

-2220

In [45]:
a/b

0.048027444253859346

In [46]:
print(a+b)
print(a*2)

2444
224

In [47]:
print(a//b)
print(a%b)
print(a**2)

0
112
12544

In [48]:
#comparison
print(a>b)
print(a>b)
print(x>=11)
print(a<=166)
print(x!=2344)

False
False
True
True
True

In [49]:
#logical
print(x>3476 and a>73467)
print(x<73647 and a<2738)

False
True

In [50]:
#membership
a=[4,45,6565,4545,6466]
print(13 in a)
print(6356 not in a)

False
True

In [51]:
# identity
a=[5,52,4,11,34,345]
b=a
c=[4,8,9,8]
print(a is b)
print(a is c)
print(b is c)

True
False
False

In [52]:
# datatype

name="esha"
pi=3.14
happy= True
data=None
a_list=[23,3,2,4,56]
a_tuple=(3,56,33)
a_set={23,433,11}
a_dict={'a':56, 'b':5665}

In [54]:
print(type(name))
print(type(happy))
print(type(a_list))

<class 'str'>
<class 'bool'>
<class 'list'>