## data structure - set

- unordered
- unindexed
- mutable
- mixed immutable elements
- unique elements
- iteratble
- represented by curly braces "{}"

In [2]:
x=set()
print(x,type(x))
y={1,2,3}
z={"a","b","1","22"}
print(y)
print(z)
q={1,3,5,6,7,2,3,1,3}
print(q,type(q))

set() <class 'set'>
{1, 2, 3}
{'a', 'b', '1', '22'}
{1, 2, 3, 5, 6, 7} <class 'set'>

In [3]:
for i in q:
    print(i)

1
2
3
5
6
7

In [4]:
books=set()
books.add("it ends with us")
books.add("it starts with us")
books.add("glory")
books.update(["firelight","stars","light of life"])
print(books)

{'glory', 'stars', 'light of life', 'firelight', 'it starts with us', 'it ends with us'}

In [5]:
books.discard("firelight")

In [6]:
books.pop()

'glory'

### set operations

In [7]:
a={1,3,4,5,6,6}
b={1,2,4,5,8,9,44}
c={9,66,55,443,3}
d={4444,55,3222}

In [9]:
print("union")
print(a.union(b))
 
print("intersection")
print(c.intersection(d))

print("difference")
print(a.difference(b))

union
{1, 2, 3, 4, 5, 6, 8, 9, 44}
intersection
{55}
difference
{3, 6}

In [10]:
print(a)
print(b)

print("joined",a.isdisjoint(b))

print("disjoint",a.isdisjoint({11,12}))

print("subset",c.issubset(a))
print("superset",d.issuperset(c))

{1, 3, 4, 5, 6}
{1, 2, 4, 5, 8, 9, 44}
joined False
disjoint True
subset False
superset False

In [12]:
# wap that allows users to enter data as much as they want and then remove dupilcate and print unique data
data=set()
while True:
     a=input("enter the data")
     if not a:
          break
     data.add(a)
print(a)

for i in data:
     print("=>",i)

=> 66666
=> 4
=> 5
=> 66